##################### PERSONEL configuration ####################
ORGANIZATION_NAME=ontoportal-lirmm
COMPOSE_API_FILE_PATH=/ontologies_api/master/docker-compose.yml
COMPOSE_UI_FILE_PATH=/bioportal_web_ui/master/docker-compose.yml
ONTOLOGIES_LINKED_DATA_LINK=https://github.com/ontoportal-lirmm/ontologies_linked_data.git
SERVICE=ontoportal
=======
BUNDLE_PATH="/srv/ontoportal/bundle"
# default bundle config resolves to /usr/local/bundle/config inside of the container
# we are setting it to local app directory if we need to use 'bundle config local'
BUNDLE_APP_CONFIG="/srv/ontoportal/.bundle"
# API/NCBO configs
REDIS_GOO_CACHE_HOST="redis"
REDIS_HTTP_CACHE_HOST="redis"
REDIS_PERSISTENT_HOST="redis"
REPOSITORY_FOLDER="/srv/ontoportal/data/repository"
REPORT_PATH="/srv/ontoportal/data/reports/ontologies_report.json"
SOLR_TERM_SEARCH_URL="http://solr:8983/solr"
SOLR_PROP_SEARCH_URL="http://solr:8983/solr"
MGREP_HOST="mgrep"
MGREP_PORT="55556"
GOO_PORT=9000
GOO_HOST="4store"

##################### UI configuration ####################
RAILS_ENV=development
SITE=Ontoportal
ORG_URL=http://www.lirmm.fr
UI_URL=http://localhost:3000
API_URL=http://api-service:9393
API_KEY=72c72cba-ad45-4785-b94e-483fa55cdddb
UI_THEME=ontoportal
FAIRNESS_DISABLED=false
NCBO_ANNOTATORPLUS_ENABLED=false
SUPPORT_EMAIL=sifrportal-support@lirmm.fr
RELEASE_VERSION="OntoPortal Appliance 3.0.1"
USE_RECAPTCHA=false

##################### KAMAL configuration ####################
IMAGE_NAME=
SERVER_IP=
DOCKER_REGISTRY_NAME=
KAMAL_REGISTRY_PASSWORD=
SSH_USER=
=======
IMAGE_REPOSITORY=bioportal
IMAGE_TAG=latest
OP_APIKEY=<YOUR ONTOPORTAL API KEY>
OP_API_URL="https://data.bioontology.org"
STARTER_ONTOLOGY="STY"

